@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
@font-face {
  font-family: "PexelGrotesk";
  font-style: normal;
  font-weight: 400;
  src: url("assets/PexelGrotesk-Regular.woff");
}
:root {
  --bg-color: #ede8e8;
  --fg-color: white;
  --pinkish: #ed4a86;
  --yellow: #f8e300;
  --box-border: 1px solid black;
  --content-width: 720px;

  /*-------old----------*/
  --bash-color: #f8e300;
  --bash-shade: #c1c100;
  --bash-error: #b41d1d;
  --space: 1em;
  --bash-margin: 1rem;
}

body {
  margin: 0;
  font-family: "Asap", sans-serif;
  height: 100%;
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
#root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}
